.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.answer {
  white-space: pre-wrap;
  /* overflow-wrap: normal; */
}

.titleBackground {
  background-color: black;
  width: 40%;
  align-items: center;
  margin-top: -50px;
}

.FAQCard {
  margin: 5px;
  width: 60%;
  border-bottom: 2px solid rgba(0,0,0,0.08);
}

.content {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 400px;
  background-color: white;
}

.image {
  position: absolute;
  top: -100px;
  margin-top: -100px;
}

.language {
  position: absolute;
  right: 0;
  top: 0;
  margin: 4px;
  padding: 4px;
  border-radius: 6px;
  background-color: lightsalmon;
  z-index: 1;
  font-size: large;
}

.question:hover {
  color: rgb(43, 187, 166);
}